[Desktop Entry]
Encoding=UTF-8
Name=Qwertycoin
GenericName=Qwertycoin wallet
Name[uk]=Qwertycoin
Name[ru]=Qwertycoin
Name[pl]=Qwertycoin
Name[be]=Qwertycoin
Name[de]=Qwertycoin
Name[es]=Qwertycoin
Comment=Qwertycoin wallet
Comment[uk]=Qwertycoin wallet
Comment[ru]=Qwertycoin wallet
Comment[pl]=Qwertycoin wallet
Comment[be]=Qwertycoin wallet
Comment[de]=Qwertycoin Brieftasche
Comment[es]=Qwertycoin Monedero
Exec=qwertycoin %U
Terminal=false
Type=Application
Icon=qwertycoin
MimeType=x-scheme-handler/qwertycoin;
Categories=Office;Finance;
Version=2.2.2
